.about {
    display:block grid;
    grid-template-columns: 2.2fr 1fr;
    margin:2rem;
}

.introduction{
    display:inline;
    width:80%;
}

.laptop {
    aspect-ratio: 1/1;
    display:inline;
    float:right;
    margin-top:15%;
    min-width:300px;
    width:100%;
}

.tech {
    grid-column: span 2;
}

.tech-grid{
    display: grid;
    grid-column: span 2;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width:100%; 
}

.tech-grid img{
    aspect-ratio: 1/1;
    max-width:120px;
    width:100%
}

.tech-grid img::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--purple-dark);
}

.tech-grid img:hover {
  box-shadow: 0 0 5px var(--purple-dark);
  text-shadow: 0 0 5px var(--purple-dark);
}

ul {
    font-size:1rem;
    margin-left:0px;
}

@media (max-width:850px) {

    .about{
        grid-template-columns: 1fr;
        margin-inline: 2rem;
        margin-right:0rem;
    }

    .laptop{
        margin:0px;
        max-width:280px;
        min-width:150px;
        place-self: center;
    }

    .introduction{
        width:100%;
    }

    .tech-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }    


}