
.tech-grid{
    display: grid;
    grid-column: span 2;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width:100%; 
}

.tech-grid img{
    aspect-ratio: 1/1;
    border-radius:20px;
    max-width:120px;
    width:100%
}

.tech-grid img::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--purple-dark);
}

.tech-grid img:hover {
  box-shadow: 0 0 5px var(--purple-dark);
  text-shadow: 0 0 5px var(--purple-dark);
}


@media (max-width:850px) {

    .tech-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }   
    
}