#navBar {
    background-color: var(--purple-dark);
    display:flex;
    flex-wrap: wrap;
    gap:3rem;
    height:80px;
    padding: 0.5rem;
    padding-top:0;
    padding-bottom: 0;
    position: sticky;
    top:0;
    z-index: 10;
}

nav ul {
    background-color: var(--blue);
    display: flex;
    flex-grow: 1;
    gap:1rem;
    margin: 0;
    padding: 0;
    color: var(--white);
    text-align: left;
}

nav li {
    display: inline-block;
    font-family: var(--paragraphfont);
    font-size: 1.2rem;
    padding:0;
    text-transform: capitalize;
}
nav ul a, nav ul a:active {
    display: block;
    text-decoration: none;
    padding: 1.5rem 0;
    color: inherit;
}

.first_link {
    background-color: var(--white);
    border: 2px solid var(--orange);
    border-radius:40%;
    display: block;
    margin-block: .5rem;
    margin-left: .5rem;
    margin-right:.5rem;
    margin-top:.5rem;
    padding:15px;
    position: relative;
    top: 20px;
    width:120px;
}

nav a:hover {
    color: var(--orange);
    text-decoration: underline wavy;
}
nav .handle {
    position: relative;
    display: none;
    height: auto;
    width: 100%;
    background-color: var(--paragraphfont);
    text-align: left;
    box-sizing: border-box;
    padding: 1em 2em;
    color: #ddd;
    cursor: pointer;
    top: 0;
    font-size: 130%;
    text-transform: uppercase;
}

#pushback{
    display:none;
}

.my-image--containter{
    display:none;
    height:0px;
}

/* Assuming your .active class will be applied when a section is in view */
a.active {
    color: #f39c12;  /* Highlight color (change as needed) */
    font-weight: bold;
  }


@media (max-width:770px) {

    nav li{
    font-size: 1.1rem;
}

    .pushback{
        display: block;
        height:7rem;
    }

    #navBar {
        gap:.5rem;
    }

    .first_link {
        width:100px;
    }

    nav ul {
        gap:.5rem;
    }
}


@media (max-width:600px) {

    nav li{
    font-size: .9rem;
    margin-block: .2rem ;
}

.first_link {
    width:90px;
}

#navBar {
    gap:.5rem;
}

.my-icon{
    margin-right:.1rem;
}
}