.projectRequirements ul {
    margin-top:-2rem;
}

.projectRequirements {
display:block grid;
    grid-template-columns:  1fr 2fr;
    margin:2rem;
}

.requirements{
    display:inline;
    width:80%;
}

.requirements-image img {
    aspect-ratio: 1/1;
    display:inline;
    justify-self: center;
    float:right;
    margin-top:15%;
    min-width:300px;
    width:100%;
}

@media (max-width:900px) {

    .projectRequirements{
        grid-template-columns: 1fr;
        margin-inline: 2rem;
        margin-right:0rem;
    }

    .requirements-image img {
        display:none;
    }

    .requirements{
        width:100%;
    }

}



