#detailsUl {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
}

.projectDetails ul li {
    margin-left:0px;
}

.projectDetails {
display:block grid;
    grid-template-columns: 2.2fr 1fr;
    margin:2rem;
}

.details{
    display:inline;
    width:80%;
}

.details-image img {
    aspect-ratio: 1/1;
    display:inline;
    justify-self: center;
    float:right;
    margin-top:15%;
    min-width:300px;
    width:100%;
}

.projectList {
    list-style:inside important!;
}

@media (max-width:900px) {

    .projectDetails{
        grid-template-columns: 1fr;
        margin-inline: 2rem;
        margin-right:0rem;
    }

    .details-image img {
        margin:0px;
        max-width:280px;
        min-width:150px;
        place-self: center;
    }

    .details{
        width:100%;
    }

}



