header {
    background-color:var(--white);
    color: var(--black);
    display:grid;
    grid-template-columns: 1.1fr 2fr;
    min-height:500px;
    height:100vh;
    justify-content: space-evenly;
    padding:0px;
    width:100%;
}

.header {
    display:block;
    margin-top:4rem;
    padding-left:25%;
    padding-right:2rem;
    padding-top:4rem;
}

.title{
    font-size: 1.8rem;
}
.accent{
    background-color: var(--purple-dark);
    min-height:100vh;
}

.header-img{
    aspect-ratio: 1/1.3;
    border:15px solid var(--white);
    border-radius:20px;
    margin-left:40%;
    margin-top:20%;
    position:relative;
    width:80%;
    z-index:2;
    transition: 0.5s;
    -webkit-transition:0.5s;
}

.header-img::before .heaer-img::after {
 transition: 0.5s;
 transform: scale(0);
 -webkit-transform: scale(0);
  
}

.header-img:hover{
    border: 15px solid var(--orange);
}
.header-img::before{
    border-bottom: 15px solid var(--orange);
    border-left: 15px solid var(--orange);
    transition: 0.5s;
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    
}

.header::after {
    border-top: 15px solid var(--orange);
    border-right: 15px solid var(--orange);
    transition: 0.5s;
    transform-origin: 0 100%;
    -webkit-transform-origin: 100% 0%;
    
  }

  .button-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Allow buttons to wrap to the next row */
    gap: 1rem; /* Space between buttons */
    margin-top: 2rem;
}

@media (max-width:1154px) {
    .button-grid {
        justify-content: center; /* Center buttons on medium screens */
        gap: 0.8rem; /* Smaller gap between buttons */
    }

    .button-container{
        margin-top:2rem;
    }
}


@media (max-width:770px) {
h1 {
    margin-top:3rem;
    font-size: 2.2rem;
}

    header {
        display:block;
        height:auto;
    }

    .header {
        padding:2rem;
    }

    .accent{
        display:none;
    }

    .button-container button{
        padding:.3rem;
    }

    .button-container{
        margin-top:.5rem;
    }

      .button-grid {
        gap: .8rem; /* Add space between vertically stacked buttons */
        width: 100%;
    }


    .title {
        font-size: 1.5rem;
    }
}
