footer{
    background-color: var(--purple-dark);
    color:var(--white); 
    display:grid; 
    gap:2rem;
    grid-template-columns:1fr 2fr 2fr;
    overflow:hidden;
    padding:2rem;
}

footer.dark{
    color:var(--black);
}

footer ul{
    list-style-type: none;
    font-size:1.3rem;
    margin:.5px;
    padding-top:0px;
    padding-left:0rem;
}

footer li{
    padding-left:1px;
}

footer a:hover{
    color:var(--purple-light);
    text-decoration: underline wavy;
}

.footer-icon{
    aspect-ratio: 1/1;
    width:100%;
}
  
.footer-icon-container{
    aspect-ratio:1/1;
    background-color:var(--white); 
    border: 5px solid var(--orange);
    border-radius:100%;
    max-width:150px;
    padding:1rem;
}

@media (max-width:950px) {
    #bottom-nav{
        display:none;
    }

    footer {
        grid-template-columns:.5fr 1fr;
        gap:.5rem;
    }
}


@media (max-width:575px) {
    #bottom-nav{
        display:none;
    }

    footer {
        grid-template-columns:.5fr 1fr;
    }

    footer ul{
        font-size:1rem;
    }
}


@media (max-width:400px) {
    #bottom-nav{
        display:none;
    }

    footer {
        gap:.3rem;
    }

    footer ul{
        font-size:.8rem;
    }
}