footer{
    background-color: var(--purple-dark);
    color:var(--white); 
    display:grid; 
    gap:2rem;
    grid-template-columns:1fr 2fr 2fr;
    overflow:hidden;
    padding:2rem;
}

footer.dark{
    color:var(--black);
}

footer ul{
    list-style-type: none;
    font-size:1.3rem;
    margin:.5px;
    padding-top:0px;
    padding-left:0rem;
}

footer li{
    padding-left:1px;
}

footer a:hover{
    color:var(--purple-light);

}

.footer-icon{
    aspect-ratio: 1/1;
    margin-left:.5rem;
    margin-top:.5rem;
    width:130px;
}
  
.footer-icon-container{
    aspect-ratio: 1/1;
    background-color:var(--white); 
    border: 5px solid var(--orange);
    border-radius:100%;
    max-width:150px;
    min-width:150px;
    padding:1rem;
    width:100%;
}

@media (max-width:950px) {
    #bottom-nav{
        display:none;
    }

    footer {
        grid-template-columns:1fr 2fr;
    }
}


@media (max-width:575px) {
    #bottom-nav{
        display:none;
    }

    footer {
        grid-template-columns:.8fr 2fr;
    }

    .footer-icon-container{
        min-width:40px;
        max-width:90px;
    }

    .footer-icon{
        aspect-ratio: 1/1;
        margin-left:.2rem;
        margin-top:.5rem;
        height:60px;
        width:60px;
    }
}